.avatar {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.description {
    background: linear-gradient(90deg, #5b4c5d, #cadce3);
    flex-direction: column;
    width: 250px;
    margin-top: 10px;
    text-align: center;
    color: azure;
    padding: 5px;

}

.stats {
    background: linear-gradient(90deg, #795960, #e0d2d5);
    flex-direction: column;
    width: 250px;
    text-align: center;
    color: azure;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
}

.label {
    margin-right: 5px;
}

.name {
    font-weight: 700;
}