.friend-list {
    margin-bottom: 0;
    width: 250px;
    background: linear-gradient(90deg, #c2a886, #917e64, #755b38);
    list-style-type: none;
    padding: 5px;
    margin-top: 0;
    color: azure;
    
}
.friend-list .avatar {
  width: 48px;
  display: block;
  margin: 0;
  background: white;
  }
.friend-list .item {
   display: flex;
   flex-direction: row;
   align-items: center;
}
.true {
    background: green;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
}
.false {
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
    
    
}
.friend-list .name{
  margin-left: 50px;
}