.transactionhistory {
    margin-top: 0px;
    width: 260px;
    background: linear-gradient(90deg, #a2a49f, #e0d0c4, #f1dac4);
    color: azure;
    padding: 5px;
    margin-bottom: 10px;
   
   
}
thead {
    background:linear-gradient(90deg, #0490b0, #c6818d);
}
tbody td {
    text-align: center;
}
tbody td:first-child {
   text-align: left;
}
tr:nth-child(2n) {
  background:linear-gradient(90deg, #0490b0, #c6818d);
}

tr:nth-child(odd) {
    background: linear-gradient(90deg, #008dc3, #f9d59d);
}
